<div class="container">
  <div class="row">
    <h1>Simple blog project.</h1>
  </div>

  <h5>Pages:</h5>
  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="posts">Posts List</a></li>
    <li><a routerLink="profile">User Profile</a></li>
  </ul>

  <router-outlet></router-outlet>
</div>
